body{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
}

#btncont{
    text-align: center;
    margin-top: 40px;
}

.btn{
    padding: 9px 19px;
    font-size: 15px;
    margin: 0px 10px;
    border: 0px;
    cursor: pointer;
}

#strt{
    background-color: #1abc9c;
}
#stop{
    background-color: #3598db;
}
#reset{
    background-color: #e74c3c;
}